
.button-grid button {
    font-size:200%;
    margin:30px 10px;
    height:60px;
}

.button-grid{
    margin:10px 25px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.image-container{
    display:flex;
    justify-content: center;
    height:280px;
    margin:0px auto;
    position: relative;
}

.loading{
    position:absolute;
    top: 15%;
    font-size:200px;
    z-index: 1;
    color: rgba(150,150,150,1);
}

.current-image-container-loading{
    opacity: 0.3;
}

.current-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    position: relative;
    box-shadow: 4px 8px 8px rgba(0,0,0,0.5);
    border-radius: 5px 5px 0px 0px;
    padding:5px;
    padding-bottom:50px;
    background-color: #fff;
}

.current-image {
    margin:0px auto;
    /*min-width:300px;*/
    box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
    margin-bottom:15px;
}

.filename, .filedate{
    font-family: 'Caveat', cursive;
}

.filename{
    font-size:100%;
}

.filedate{
    font-weight: bold;
    font-size:140%;
}

.likes{
    position:absolute;
    font-size:85%;
    top:5px;
    right:5px;
    color:orangered;
}

.count{
    font-family: 'Caveat', cursive;
    color:orangered;
    position: absolute;
    font-size:100%;
    font-weight: bold;
    right:5px;
    bottom:2px;
    /*transform: rotate(315deg)*/
}